@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "./reset.scss";

.wrapper {
  margin: 0 auto !important;
  max-width: calc(1440px + (100vw / 72 * 2) * 2) !important;
}
.el-page-header__title {
  display: none;
}
