.wrapper {
  border: 1px solid black;
  margin: 20px 10px;
  padding: 20px 15px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}

.data {
  text-align: center;
  margin-top: 15px;
}
