.wrapper {
  margin: 15px 10px;
  display: grid;
  grid-template-areas:
    "header"
    "messages"
    "bottom";
  grid-template-rows: 0.1fr 3fr 0.1fr;
}
.header {
  grid-area: header;
}
.messages {
  margin: 0px 0px 5px 0px;
  grid-area: messages;
  max-height: 650px;
  overflow: auto;
}
.bottom {
  grid-area: bottom;
}
